<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Salama dash</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />
	<meta name="keywords" content="Conjoint Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
	<!-- font-awesome icons -->
	<link href="css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!-- online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
	<!-- //online-fonts -->
</head>
<body style="background-image:url(images/assets/qout.png);	width: 100%;

background-attachment: fixed;
background-size: cover;
 ">
	
		<div class="sidenav text-center">
			<div class="side_top">
				<img src="images/pprofile.jpeg" alt="news image" class="img-fluid navimg w-50">
				<h1 class="top_hd mt-2"><a href="/" style="color:#a1c4cf">Amat Alsalam</a></h1>
				<p class="top_hdp mt-2 mb-0" style="color: #b4edff">Full-stack developer</p>
			</div>
			<!-- header -->
			<header>
				<div class="nav-top">
					<nav class="mnu mx-auto">
						<label style="background-color: rgb(159, 255, 223) ;" for="drop" class="toggle">Menu</label>
						<input type="checkbox" id="drop">
						<ul class="menu">
							<li class="active"><a href="/dash" class="scroll">personal information</a></li>
							<li class="mt-sm-3"><a href="/work" class="scroll">work</a></li>
							<li class="mt-sm-3"><a href="/skills">skills</a></li>
							<li class="mt-sm-3"><a href="/education" class="scroll">education</a></li>
							<li class="mt-sm-3"><a href="/pagecontent">page_content</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<!-- //header -->
		</div>




</body>

</html>