<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Salama dash</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />
	<meta name="keywords" content="Conjoint Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
	<!-- font-awesome icons -->
	<link href="css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!-- online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
	<!-- //online-fonts -->
</head>

<body style="background-image:url(images/assets/qout.png);	width: 100%;

background-attachment: fixed;
background-size: cover;
 ">
	
	

	<%- include('./includes/header.ejs') %>


		<!-- //about -->
		<!-- services -->
		<div style="margin-top: 5rem;">

			<form action="">
				<div class="col-lg-6 col-11 divv m-auto mt-4">
					<h1>
						hello paragraph
					</h1>
					<p> I'm Amat Alsalam A UX designer &front-end developer and graphic designer & product person passionate
						about creating simple yet innovative experiences for
						users.</p>
						<input type="submit" value="Edite" class="ssubmit  p-2 w-25">
				</div>
				<div class="col-lg-6 col-11 divv m-auto mt-4  ">
					<h1>
						About paragraph
					</h1>
					<p> I'm Amat Alsalam A UX designer &front-end developer and graphic designer & product person passionate
						about creating simple yet innovative experiences for
						users.</p>
						<input type="submit" value="Edite" class="ssubmit  p-2 w-25">
				</div>
			</form>

		<div class="table-responsive col-lg-6 col-sm-12 m-auto divv m-5 ">
			<form action="">
			<table class="table col-11  m-4 ">
				
			
					<tr>
						<th scope="col">name</th>
						<td>Amat alsalam </td>
						<th scope="col"><input type="submit" value="Edite" class="ssubmit w-75"></th>
					</tr>

	
					<tr>
						<th scope="col">phone number</th>
						<td>734116392</td>
						<th scope="col"><input type="submit" value="Edite" class="ssubmit w-75"></th>
						
					</tr>
					<tr>
						<th scope="col">website</th>
						
						<td>WWw.djhdhlkjd</td>
						<th><input type="submit" value="Edite" class="ssubmit w-75"></th>
					</tr>
					<tr>
						<th scope="col">location</th>
						<td>sana'a</td>
						<th><input type="submit" value="Edite" class="ssubmit w-75"></th>
						
					</tr>
	</form>
		</div></div>
		<!-- //services -->
		<!-- news -->

		<!-- //news -->
		<!-- contact -->

		<!-- //contact -->


</body>

</html>